<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ "Edward Lee" | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ "bright student ⦿ bright future" | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main" style="max-width:86em">
<table class="infobox biography vcard" style="width: 22em; float: right; margin: 0.5em 0 0.5em 1em;">
	<tbody style="background-color: #f8f9fa;">
		<tr>
			<th style="text-align: center; font-size: 125%; font-weight: bold;" colspan="2">
				<div class="fn" style="display: inline;">
					Edward Lee
				</div>
			</th>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">
				<a class="image" href="https://github.com/edwardlee/edwardlee.github.io/blob/master/me.jpg">
					<img src="/me.jpg" alt="me" />
				</a>
				<div>
					Edward holding a
					<a title="bluegill" href="https://en.wikipedia.org/wiki/Bluegill">
						bluegill
					</a>
					 in October 2020
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row">
				Born
			</th>
			<td>
				<div class="nickname" style="display: inline;">
					Edward Lee
				</div>
				<br />
				May 10
				<br />
				<div class="birthplace" style="display: inline;">
					<a title="Illinois" href="https://en.wikipedia.org/wiki/Illinois">
						Illinois</a>,
					<a title="United States" href="https://en.wikipedia.org/wiki/United_States">
						United States
					</a>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row">
				Occupation
			</th>
			<td class="role">
				<div class="hlist hlist-separated">
					<ul>
						<li>
							student
						</li>
						<li>
							software engineer
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">
				<strong>
					Technical career
				</strong>
			</td>
		</tr>
		<tr>
			<th scope="row">
				Specializations
			</th>
			<td>
				<div class="hlist hlist-separated">
					<ul>
						<li>
							<a title="full-stack" href="https://en.wikipedia.org/wiki/Solution_stack">
								full-stack
							</a>
						</li>
						<li>
							<a title="edutech" href="https://en.wikipedia.org/wiki/Educational_technology">
								edutech
							</a>
						</li>
						<li>
							<a title="natural language processing" href="https://en.wikipedia.org/wiki/Natural_language_processing">
								natural language processing
							</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row">
				Qualifications
			</th>
			<td>
				<div class="hlist hlist-separated">
					<ul>
						<li>
							<a title="C" href="https://en.wikipedia.org/wiki/C_(programming_language)">
								C
							</a>
						</li>
						<li>
							<a title="Java" href="https://en.wikipedia.org/wiki/Java_(programming_language)">
								Java
							</a>
						</li>
						<li>
							<a title="Python" href="https://en.wikipedia.org/wiki/Python_(programming_language)">
								Python
							</a>
						</li>
						<li>
							<a title="Javascript" href="https://en.wikipedia.org/wiki/JavaScript">
								Javascript
							</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">
				 
			</td>
		</tr>
		<tr>
			<th style="text-align: center; background-color: #b0c4de;" colspan="2">
				Korean name
			</th>
		</tr>
		<tr>
			<th style="font-weight: normal;" scope="row">
				<a title="Hangul" href="https://en.wikipedia.org/wiki/Hangul">
					Hangul
				</a>
			</th>
			<td>
				<div style="display: inline; font-size: 1rem;">
					<span lang="ko-Hang" title="Korean-language text">
						<a class="extiw" title="wikt:이" href="https://en.wiktionary.org/wiki/%EC%9D%B4">
							이</a>
						<a class="extiw" title="wikt:진" href="https://en.wiktionary.org/wiki/%EC%A7%84">
							진</a>
						<a class="extiw" title="wikt:우" href="https://en.wiktionary.org/wiki/%EC%9A%B0">
							우
						</a>
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<th style="font-weight: normal;" scope="row">
				<a title="Hanja" href="https://en.wikipedia.org/wiki/Hanja">
					Hanja
				</a>
			</th>
			<td>
				<div style="display: inline; font-size: 1rem;">
					<span lang="ko-Hani" title="Korean-language text">
						<a class="extiw" title="wikt:李" href="https://en.wiktionary.org/wiki/%E6%9D%8E">
							李
						</a>
						<a class="extiw" title="wikt:振" href="https://en.wiktionary.org/wiki/%E6%8C%AF">
							振
						</a>
						<a class="extiw" title="wikt:宇" href="https://en.wiktionary.org/wiki/%E5%AE%87">
							宇
						</a>
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<th style="font-weight: normal;" scope="row">
				<a title="Revised Romanization of Korean" href="https://en.wikipedia.org/wiki/Revised_Romanization_of_Korean">
					Revised Romanization
				</a>
			</th>
			<td>
				<em lang="ko-Latn" title="Revised Romanization of Korean transliteration">
					I Jin-u
				</em>
			</td>
		</tr>
		<tr>
			<th style="font-weight: normal;" scope="row">
				<a title="McCune–Reischauer" href="https://en.wikipedia.org/wiki/McCune%E2%80%93Reischauer">
					McCune–Reischauer
				</a>
			</th>
			<td>
				<em lang="ko-Latn" title="McCune–Reischauer transliteration">
					Yi Chin-u
				</em>
			</td>
		</tr>
	</tbody>
</table>
      
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
