<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
    .vector-menu-tabs li a {
      background-position: right;
      display: block;
      padding: 0.7em;
    }
    .vector-menu-tabs li {
      background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#fbfaf7 100%);
      float: left;
      display: block;
    }
    .vector-menu-tabs a {
      background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
      background-repeat: no-repeat;
      background-size: 1px;
    }
    .vector-menu-tabs ul {
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 709px) {
      table {
        width: 22em !important;
        float: right;
      }
    }
    tbody > th {
      text-align: center;
    }
    th, td {
      background-color: #f8f9fa;
    }
    th {
      color: black;
      font-size: 13px;
      font-weight: bold;
    }
    h1,h2,h3,h4 {
      margin:0;
    }
    main h1 {
      padding-top: 0.7em;
    }
    </style>
  </head>
  <body style="padding:0">
    <nav class="vector-menu-tabs" role="navigation">
      <ul>
        <li style="background: white">
          <a style="color:black" href="#early-life" title="View the content page [alt-shift-c]" accesskey="c">Article</a>
        </li>
        <li>
          <a href="https://m.me/leapforwardkr" title="Discuss improvements to the content page [alt-shift-t]" accesskey="t">Talk</a>
        </li>
        <li>
          <a href="https://github.com/edwardlee" title="A list of open-source contributions made by the site owner [alt-shift-g]" accesskey="g">GitHub</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/zinu/" title="You are encouraged to view the site owner's LinkedIn profile; however, it's not mandatory [alt-shift-l]" accesskey="l">LinkedIn</a>
        </li>
      </ul>
    </nav>
    <h1>&nbsp;</h1>
    <main id="content" class="main-content" role="main" style="padding: 0 2em 0 2em;">
      <table style="border-collapse: collapse; margin-left: 1em;">
        <tbody>
          <th colspan="2" style="font-size: 15px; padding: 0;">
            Edward Lee
          </th>
          <tr>
            <td colspan="2" style="text-align: center;padding: 0;">
              <a class="image" href="https://github.com/edwardlee/edwardlee.github.io/blob/master/ising.png">
                <img src="/ising.png" alt="me" style="width: 19em; padding: 0; margin: 0; border: none;">
              </a>
              <div>Edward in January 2019</div>
            </td>
          </tr>
          <tr>
            <th scope="row">Born</th>
            <td>
              <div>Edward Lee</div>
              May 10
              <div>
                <a href="https://en.wikipedia.org/wiki/Illinois">Illinois</a>,
                <a href="https://en.wikipedia.org/wiki/United_States">United States</a>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Occupation</th>
            <td>Student • software engineer</td>
          </tr>
          <th colspan="2">
            Technical career
          </th>
          <tr>
            <th scope="row">Areas</th>
            <td>
              <a href="https://en.wikipedia.org/wiki/Solution_stack">full-stack</a>
              • <a href="https://en.wikipedia.org/wiki/Educational_technology">edutech</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Languages</th>
            <td>
              <a href="https://en.wikipedia.org/wiki/C++">C++</a>
              • <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a>
              • <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a>
              • <a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a>
            </td>
          </tr>
          <th colspan="2">Korean name</th>
          <tr>
            <th scope="row" style="font-weight: normal;">
              <a href="https://en.wikipedia.org/wiki/Hangul">Hangul</a>
            </th>
            <td>
              <span lang="ko-Hang" style="font-size: 1rem;">
                <a title="wikt:이" href="https://en.wiktionary.org/wiki/%EC%9D%B4">이</a>
                <a title="wikt:진" href="https://en.wiktionary.org/wiki/%EC%A7%84">진</a>
                <a title="wikt:우" href="https://en.wiktionary.org/wiki/%EC%9A%B0">우</a>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">
              <a href="https://en.wikipedia.org/wiki/Hanja">Hanja</a>
            </th>
            <td>
              <span lang="ko-Hani" style="font-size: 1rem;">
                <a title="wikt:李" href="https://en.wiktionary.org/wiki/%E6%9D%8E">李</a>
                <a title="wikt:振" href="https://en.wiktionary.org/wiki/%E6%8C%AF">振</a>
                <a title="wikt:宇" href="https://en.wiktionary.org/wiki/%E5%AE%87">宇</a>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">
              <a href="https://en.wikipedia.org/wiki/Revised_Romanization_of_Korean">Revised Romanization</a>
            </th>
            <td>
              <em lang="ko-Latn" title="Revised Romanization of Korean transliteration">I Jin-u</em>
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">
              <a href="https://en.wikipedia.org/wiki/McCune%E2%80%93Reischauer">McCune–Reischauer</a>
            </th>
            <td>
              <em lang="ko-Latn" title="McCune–Reischauer transliteration">Yi Chin-u</em>
            </td>
          </tr>
        </tbody>
      </table>

      {{ content }}

    </main>
  </body>
</html>
